.navbar{
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:20px;
  border-radius:15px;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 20%;
  list-style-type: none;
}



.nav{
padding-left:10px;
padding-right:10px;
}


.nav:hover{
background-color: #555;
color: white;
border-radius: 5px;
cursor:pointer;
}
.nav:active{
background-color: #555;
color: black;
border-radius: 5px;
cursor:pointer;
}

.nav a{
  text-decoration: none;
  color: white;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top:20px;
}

.search-input{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
.big-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.results-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction:row;
  margin-top: 20px;
  width:75%
} 
.card{
display:flex;
 border:1px solid black;
 padding:20px;
 width:100%;
}

.img{
margin-right:20px;
}

.img img{
max-width:200px;
height:auto;
}

.info{
flex:1;
display:flex;
flex-direction:column;
}

.title{
text-align:center;
}

.add{
text-align:center;
margin-top:auto;
}

.add:hover{
  cursor: pointer;
  color:gray;
}
.listTitle{
  text-align:center;
  margin-top:30px;
}